@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

$color_grey:#737373;
$color_black:#252B42;
$color_geen:#96BB7C;
$bg_color:#FFF2F3;
$color_red: #E74040;

img {
    max-width: 100%;
}

section {
    width: 100%;

}

.container {
    padding: 20px 0;
    width: 80%;
    margin: 0 auto;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style: none;
}

 a {
    text-decoration: none;
    color: $color_grey;
    font-weight: 700;
    font-size: 14px;

}
i {
    cursor: pointer;
}

.btn {
    padding: 15px 25px;
    color: white;
    background-color: $color_geen;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
}


.head_container {
    background-color: $bg_color;
    min-height: 60vh;
    .container {
        header {
            padding-top: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .header_left {
                display: flex;
                align-items: center;
                gap: 40px;
                ul {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                }
                h1 {
                    font-weight: 700;
                    font-size: 24px;
                    color: $color_black;
                }
            }
            .header_right {
                display: flex;
                gap: 20px;
                align-items: center;
                button {
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    i {
                        font-size: 14px;
                        font-weight: 700;

                    }
                }
            }

        }
        .header_about {
            padding-top: 40px;
            display: flex;
            gap: 30px;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            flex-wrap: wrap;
            .head_txt {
                flex: 1;
                display: flex;
                gap: 30px;
                flex-direction: column;
                h1 {
                    font-size: 58px;
                }
                p {
                    font-size: 20px;
                    font-weight: 400;
                    color: $color_grey;
                }
                a {
                    font-size: 16px;
                }
                .buttons {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                  .more_btn {
                    padding: 15px 25px ;
                    color: $color_geen;
                    background-color: transparent;
                    border: 1px solid $color_geen;
                    border-radius: 5px;
                    cursor: pointer;
                  }  
                }
                .grean_anker {
                color: $color_geen;
                
            }
            }
            
            .head_img {
                flex: 1;
            }

        }
    }
}
.iconka {
    display: none;
    align-items: center;
    gap: 20px;
    font-size: 40px;
    font-weight: 700;
    color: $color_geen;
}

.packages {
    min-height: 70vh;
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 90px;
        padding-top: 100px;
        .packages_main {

            display: flex;
            flex-direction: column;
            gap: 35px;
            a {
                display: flex;
                align-items: center;
                color: $color_geen;
                i {
                    font-size: 16px;
                    font-weight: 700;
                }
            }
            hr {
                width: 100px;
                height: 7px;
                background-color: $color_red;
            }
        }
        .teacher_instruction {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            .teacher {
                display: flex;
                flex-direction: column;
                gap: 20px;

                padding: 35px 40px;
                box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
                h5 {
                    font-size: 16px;
                    font-weight: 700;
                    color: $color_black;
                }
                span {
                    color: $color_grey;
                    font-size: 14px;
                    font-weight: 400;
                }
                hr {
                    width: 50px;
                    height: 2px;
                    background-color: $color_red;
                    color: #E74040;
                    border: none;
                    outline: none;
                }
            }
            .instruction {
                box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
                padding: 35px 40px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                h5 {
                    font-size: 16px;
                    font-weight: 700;
                    color: $color_black;
                }
                span {
                    color: $color_grey;
                    font-size: 14px;
                    font-weight: 400;
                }
                hr {
                    width: 50px;
                    height: 2px;
                    background-color: $color_red;
                    color: #E74040;
                    border: none;
                    outline: none;
                }
            }
        }

    }
}

.courses {
    .container {
        display: flex;
        flex-direction: column;
        gap: 80px;
        .courses_txt {
            display: flex;
            flex-direction: column;
            gap: 10px;

            a {
                color: $color_geen;
                font-size: 14px;
            }
            h2 {
              font-size: 40px;
              font-weight: 700;
              color: $color_black;  
            }
            span {
                font-size: 14px;
                font-weight: 400;
                color: $color_grey;  
            }

        }
        .courses_about {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            padding-bottom: 100px;


            .courses_img {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                flex-direction: column;
                gap: 30px;
                img {
                    border-radius: 50%;
                }
                span {
                    font-size: 14px;
                    font-weight: 400;
                    color: $color_grey;  
                }
                h6 {
                    color: $color_black;
                    font-size: 16px;
                    font-weight: 700;
                }
                .design {
                    font-size: 14px;
                }
                .ikonka_star {
                    color: #F3CD03;
                }

            }

        }
    }

}

.education {
    .container {
        .head_education {
            display: flex;
            flex-direction: column;
            gap: 10px;

            a {
                color: $color_geen;
                font-size: 14px;
            }
            h2 {
              font-size: 40px;
              font-weight: 700;
              color: $color_black;  
            }
            span {
                font-size: 14px;
                font-weight: 400;
                color: $color_grey;  
            }
        }
        .about_pro {
            padding-top: 100px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            .img_pro {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                flex-direction: column;
                padding-bottom: 30px;

                border-radius: 20px;
                gap: 10px;
                margin-bottom: 100px;
                box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
                h1 {
                    font-size: 16px;
                    font-weight: 700;
                    color: $color_black;
                }
                span {
                    font-size: 12px;
                    font-weight: 400;
                    color: $color_grey;

                }
                .ikonka_pro {
                    display: flex;
                    gap: 10px;
                    color: $color_geen;
                    font-size: 25px;
                }
                img {
                    border-radius: 20px 20px 0 0 ;
                    margin-bottom: 20px;
                    width: 230px;
                    height: 240px;
                }
            }
        }

    }
}
.email {
    min-height: 60vh;
    background-color: $bg_color;
    .container {
        padding-top: 160px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        flex-direction: column;
        a {
            color: $color_geen;
            font-size: 14px;
        }
        h2 {
          font-size: 40px;
          font-weight: 700;
          color: $color_black;  
        }
        span {
            font-size: 14px;
            font-weight: 400;
            color: $color_grey;  
        }
        div {
            margin-top: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 200px;

            input {
                border: none;
                outline: none;
                padding: 15px 20px;
                border-radius: 5px 0 0 5px ;
                width: 600px;
            }
            button {
                border-radius: 0 5px 5px 0;
            }
        }


    }
}

.footer {

    .container {    
    display: flex;
    align-items: center;
    justify-content: space-between;

        div {
            span {
                font-size: 14px;
                font-weight: 700;
                color: $color_grey;  
            }
        }
        .ikonka_pro {
            display: flex;
            gap: 10px;
            color: $color_geen;
            font-size: 25px;
        }

    }


}











@media screen and (max-width:1024px) {
    .packages {
        .container {
            flex-direction: column;
            .packages_main {
                text-align: center;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .education {
        .container {
            .head_education {
                text-align: center;
                align-items: center;
                justify-content: center;
            }
            .about_pro {

                flex-direction: column;
                .img_pro {
                    width: 80%;
                    height: 90%;
                    img {
                        width: 100%;
                        height: 90%;
                    }
                }
            }
        }
    }
}









@media screen and (max-width:830px) {
    .head_container {
        .container {
            header {
                .header_right {
                display: none;
                }
                .header_left {
                    ul {
                        display: none;
                    }

                }
               .iconka {
                display: flex;
               } 
            }

            .header_about {
                .head_txt {
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                }
                flex-direction: column;
            }
        }
    }
    .courses {
        .container {
            .courses_txt {
                text-align: center;
                align-items: center;
                justify-content: center;
            }
            .courses_about {
                flex-direction: column;

            }
        }
    }
    .email {
        .container {
            div {
                input {
                    width: 300px;
                }
            }
        }
    }
    
}

@media screen and (max-width:500px) {
    .head_container {
        .container {
            .header_about {
                .head_txt {
                    h1 {
                        font-size: 30px;
                    }
                    .buttons {
                        button {
                            font-size: 10px; 
                        }
                    }
                }
            }
        }
    }
    .packages {
        .container {
            .teacher_instruction {
                flex-direction: column;
                .teacher {
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                }
                .instruction {
                    align-items: center;
                    justify-content: center;
                    text-align: center;

                }
            }
        }
    }
    .email {
        .container {
            div {
                input {
                    width: 150px;
                }
            }
        }
    }
    .footer {
        .container {
            text-align: center;
            flex-direction: column;
            gap: 10px;
        }
    }
}